// Color scheme variables
$color-success-100: #eff8ed;
$color-success-200: #e0f0db;
$color-success-300: #c1e2b6;
$color-success-400: #a1d392;
$color-success-500: #82c56d;
$color-success-600: #63b649;
$color-success-700: #4f923a;
$color-success-800: #3b6d2c;
$color-success-900: #28491d;

// site color variables
$body-color: #fff;
$bg-color: #dff1f4;
$primary-color: $color-success-500;
$secondary-color: #5477f8;
$text-color: #8c8c94;
$text-color-dark: #273437;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #ededf4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Poppins", sans-serif;
