{{ with .Site.Data.feature }} {{ if .enable }}
<section class="feature" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ .title }}</h2>
        <p>{{ .intro }}</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-image">
          <img
            src="images/feature/feature-shape-01.svg"
            class="feature-image-shape1"
            style="left: -25%; top: 10%"
            alt="feature-image-shape"
          />
          <img src="{{ .image1 }}" alt="feature-image" />
          <img
            src="images/feature/feature-shape-02.svg"
            style="right: -13%; top: 45%"
            class="feature-image-shape2"
            alt="feature-image-shape"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-content ml-25">
          <div>
            <ul class="gap-4 pl-0">
              {{ $process := .processes }} {{ range $process }}
              <li class="feature-item d-flex flex-column align-items-start">
                <span aria-hidden="true" class="h2">{{ .icon }}</span>
                <div class="font-weight-bold h4 text-dark my-3">
                  {{ .name }}
                </div>
                <p class="feature-content text-left">{{ .content }}</p>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center mb-lg-5">
      <div class="col-lg-12 order-2 order-lg-1">
        <div class="feature-content text-center">
          <p>{{ .outro }}</p>
          <a
            href="contact"
            data-text="{{ .buttonText }}"
            class="btn btn-primary"
          >
            <span>{{ .buttonText }}</span>
          </a>
        </div>
      </div>
      <!-- <div class="col-lg-6 order-1 order-lg-2">
        <div class="feature-image">
          <img
            src="images/feature/feature-shape-03.svg"
            class="feature-image-shape3"
            style="right: -25%; top: 10%"
            alt="feature-image-shape"
          />
          <img src="{{.image2 }}" alt="feature-image" />
          <img
            src="images/feature/feature-shape-04.svg"
            style="left: -20%; top: 42%"
            class="feature-image-shape4"
            alt="feature-image-shape"
          />
        </div>
      </div> -->
    </div>
  </div>
</section>
{{ end }} {{ end }}
